-i https://rpm:5U9GQ18muJgJ@pypi.jangl.com/pypi/
-e .

avro
boto3
bumpversion
cachetools
confluent-kafka[avro]
Django>=2,<3
django-opentracing==1.1.0
django-storages==1.6.3
djangorestframework>=3.9,<3.10
fastavro
gevent
jaeger-client==4.4.0
opentracing==2.4.0
opentracing_instrumentation==3.3.1
prettyconf==1.2.0
pytz
requests
requests_oauthlib>=0.8.0,<0.9
rpm-confluent-schemaregistry==0.1.2
sentry-sdk
simpleflake
urllib3
